@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    transition: .2s;
}

body {
    max-height: 100dvh;
}

.section-dark {
    background: #121212;
}

.header-dark {
    background: #1e1e1e;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8em 2.5em;
    background: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    cursor: default;
    text-wrap: nowrap;
}

header button {
    background: #1f6bdd;
    border: none;
    color: #fff;
    outline: none;
    font-size: .9rem;
    padding: .8em 1em;
    border-radius: 8px;
    cursor: pointer;
}

.logo {
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.logo-dark {
    color: #e4e4e4;
}

nav {
    display: flex;
    align-items: center;
}
.nav-dark{
    background: #1e1e1e;
}
nav a {
    font-size: 1.1rem;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    padding: .5em .2em;
    margin-left: 2.188em;
    transition: .3s ease;
}

.a-dark {
    color: #e4e4e4;
}

.i-dark {
    color: #e4e4e4;
}

nav a:hover,
nav a.active {
    color: #1f6bdd;
}

section {
    height: 100dvh;
    background: #e4e4e4;
}

.contact {
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.sosmed {
    width: 50%;
    height: 50%;
    background: #e4e4e4;
    border-radius: 16px;
}

.sosmed-dark {
    background: #121212;
}

.exit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.2em 0.2em 0 0;
    font-size: 2rem;
}

.exit i {
    cursor: pointer;
}

.exit i:hover {
    color: #1f6bdd;
}

.appsosmed {
    width: 100%;
    height: calc(100% - 5em);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.linksosmed {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000;
    gap: 1em;
    text-decoration: none;
}

.linksosmed-dark {
    color: #e4e4e4;
}

.gmail {
    width: 120px;
    height: 100px;
}

.insta,
.github {
    width: 110px;
    height: 110px;
    border-radius: 20px;
}

.github-dark {
    background: #e4e4e4;
    padding: 5px;
}

.home {
    height: 100vh;
    width: 100%;
    display: flex;
}

.greeting {
    width: 50%;
    height: 100%;
    display: block;
    padding: 13em 0 0 8em;
}

.greeth1 {
    text-wrap: nowrap;
    font-size: 2.8rem;
    color: #121212;
}

.h1greet {
    color: #e4e4e4;
}

.greeth3 {
    font-size: 2rem;
    font-weight: 500;
    color: #121212;
    margin-top: .1em;
}

.h3greet {
    color: #e4e4e4;
}

.greetp {
    color: #121212;
    margin-top: .5em;
    text-wrap: nowrap;
}

.pgreet {
    color: #e4e4e4;
}

.greeting button {
    background: #1f6bdd;
    margin-top: 2em;
    border: none;
    color: #fff;
    outline: none;
    font-size: .9rem;
    padding: .8em 1em;
    border-radius: 30px;
    cursor: pointer;
}

.about {
    display: block;
    padding: 11.3em 5em 0 5em;
}

.abouth1 {
    font-size: 2.5rem;
    color: #121212;
}

.abouth1-dark {
    color: #e4e4e4;
}

.abouth3 {
    font-size: 1.2rem;
    color: #121212;
    font-weight: 500;
}

.abouth3-dark {
    color: #e4e4e4;
}

.foto {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #1f6bdd;
}

.skill {
    width: 100%;
    height: 100%;
}

.judul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 25%;
}

.judulh3 {
    font-size: 3rem;
    color: #121212;
}

.judulh3-dark {
    color: #e4e4e4;
}

.progress {
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
}

.progress img {
    width: 140px;
    height: 140px;
    border: 2px solid #1f6bdd;
    border-radius: 10px;
    padding: 5px;
}

.project {
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.projectitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project img {
    width: 200px;
    border: 3px solid #1f6bdd;
    border-radius: 10px;
    padding: 5px;
    aspect-ratio: 2/3;
}

.toggle {
    color: #121212;
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 2em;
}

.sun {
    display: none;
}

.sun-dark {
    display: flex;
}

.moon-dark {
    display: none;
}

.menu {
    font-size: 2rem;
    color: #121212;
    cursor: pointer;
    display: none;
}
.menu-dark{
    color: #e4e4e4;
}
.toggle2{
    display: none;
}
@media only screen and (max-width: 1200px) {
    .greeth1 {
        font-size: 2.5rem;
    }
    .about{
        padding: 12em 5em 0 5em;
    }
    .abouth1{
        font-size: 2.2rem;
    }
    .abouth3{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 1100px) {
    .greeting {
        padding-left: 4em;
    }
    .abouth1{
        font-size: 2rem;
    }
    .abouth3{
        font-size: 1rem;
    }
    .about{
        padding: 12em 7em 0 2em;
    }
    .frontend{
        padding-right: 2em;
    }
}

@media only screen and (max-width: 1000px) {
    .foto {
        padding-left: 6em;
    }
    .about{
        padding: 12em 5em 0 1em;
    }
    .frontend{
        padding-right: 8em;
    }
    .sosmed {
        width: 60%;
    }
    section{
        overflow: hidden;
    }
    nav {
        position: absolute;
        right: 2em;
        top: 5em;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 20%;
        height: 15em;
        border-radius: 10px;
        background-color: #fff;
    }
    .nav-open{
        display: flex;
    }

    nav a {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5em 0;
        border-radius: 8px;
        margin: .3em 0;
    }
    
    nav a:hover,
    nav a.active {
        color: #e4e4e4;
        background: #1f6bdd;
    }
    
    #contactme {
        position: absolute;
        right: 7em;
    }

    .toggle2 {
        color: #121212;
        cursor: pointer;
        font-size: 1.1rem;
        position: absolute;
        left: 16em;
        display: flex;
    }
    
    .toggle {
        display: none;
    }
    
    .menu {
        display: flex;
    }
    .judulh3{
        font-size: 2.5rem;
    }
    .progress img{
        width: 120px;
        height: 120px;
    }
    .project img{
        width: 190px;
    }
}

@media only screen and (max-width: 900px) {
    .greeting {
        padding-left: 2em;
    }
    .about{
        padding: 12.5rem 5em 0 1em;
    }
    .abouth1{
        font-size: 1.9rem;
    }
    
    
    .foto img {
        width: 250px;
        height: 250px;
    }
    
    .sosmed {
        width: 70%;
    }
    nav{
        width: 22.5%;
    }
    .project img{
        width: 170px;
    }
}

@media only screen and (max-width: 850px) {
    .home {
        flex-direction: column-reverse;
    }
    nav{
        width: 25%;
    }
    .greeting {
        width: 100%;
        height: 50%;
        padding: 1em 0 0 0;
        text-align: center;
    }
    .aboutme{
        flex-direction: column;
    }
    .about{
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding: 3em;
    }
    .foto img {
        width: 200px;
        height: 200px;
    }

    .foto {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 0;
    }
    .project img{
        width: 160px;
    }
}

@media only screen and (max-width: 768px) {
    .home {
        flex-direction: column-reverse;
    }
    .aboutme{
        flex-direction: column;
    }
    
    .abouth1{
        padding: 1.05em 3em 0 3em;
    }
    .abouth3{
        padding: 0 3em;
    }
    nav{
        width: 27.5%;
    }
    .sosmed {
        width: 80%;
    }
    
    .greeting {
        width: 100%;
        height: 50%;
        padding: 1em 0 0 0;
        text-align: center;
    }

    .foto img {
        width: 200px;
        height: 200px;
    }
    
    .foto {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 0;
    }
    .project{
        display: grid;
        grid-template-columns: auto auto;
        place-items: center;
    }
    .project img{
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 600px) {
    .greeth1 {
        font-size: 1.8rem;
    }
    .abouth1{
        font-size: 1.7rem;
        padding: 0 3em;
    }
    .abouth3{
        font-size: .9rem;
        padding: 0 3em;
    }
    header{
        padding: .8em 1em;
    }
    #contactme{
        right: 5em;
    }
    .toggle2{
        left: 14.5em;
    }
    nav{
        width: 30%;
    }
    .greeth3 {
        font-size: 1.5rem;
    }

    .greetp {
        font-size: .9rem;
    }

    .foto {
        align-items: center;
        padding: 5em 0 0 0;
    }

    .foto img {
        width: 150px;
        height: 150px;
    }

    .sosmed {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    .greeth1 {
        font-size: 1.6rem;
    }
    .abouth1{
        font-size: 1.5rem;
    }
    .abouth3{
        font-size: .8rem;
        padding: 0 3em;
    }
    header{
        padding: .8em .5em;
    }
    .logo{
        font-size: 1.8rem;
    }
    .toggle2{
        left: 12.5em;
    }
    #contactme{
        right: 4em;
    }
    nav{
        width: 32.5%;
    }
    .greeth3 {
        font-size: 1.3rem;
    }

    .greetp {
        font-size: .8rem;
    }

    .greeting button {
        font-size: .8rem;
    }

    .foto {
        align-items: center;
        padding: 5em 0 0 0;
    }

    .foto img {
        width: 150px;
        height: 150px;
    }

    .insta,
    .github {
        width: 90px;
        height: 90px;
    }

    .gmail {
        width: 100px;
        height: 80px;
    }

    .appsosmed a {
        font-size: .8rem;
    }
    .progress img{
        width: 100px;
        height: 100px;
    }
    .project img{
        width: 130px;
        height: 130px;
    }
}

@media only screen and (max-width: 440px) {
    .abouth1{
        font-size: 1.3rem;
        padding: 0 1em;
    }
    .project img{
        width: 120px;
        height: 120px;
    }
    .progress img{
        width: 90px;
        height: 90px;
    }
    .sosmed {
        width: 95%;
        height: 40%;
    }
    .logo{
        font-size: 1.5rem;
    }
    .toggle2{
        left: 11.4em;
        font-size: 1rem;
    }
    #contactme{
        font-size: .8rem;
        padding: .8em .7em;
        right: 3.5em;
        border-radius: 6px;
    }
    nav{
        width: 40%;
    }
    .greeth1 {
        font-size: 1.5rem;
    }

    .greeth3 {
        font-size: 1.2rem;
    }

    .greetp {
        font-size: .7rem;
    }
}